spring:

  main:
    web-application-type: none

  datasource:
    url: jdbc:h2:mem:librarydb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
      name: jpaToMongoJob

  data:
    mongodb:
      database: library

logging:
  level:
    org.springframework.batch: INFO


