services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  auth-db:
    image: postgres:15
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
    ports:
      - "5433:5432"

  library-db:
    image: postgres:15
    environment:
      POSTGRES_DB: library
      POSTGRES_USER: library
      POSTGRES_PASSWORD: library
    ports:
      - "5434:5432"

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - auth-db
    ports:
      - "8081:8081"

  library-service:
    build:
      context: .
      dockerfile: library-service/Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - library-db
      - rabbitmq
      - auth-service
    ports:
      - "8082:8082"

  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - rabbitmq
    ports:
      - "8083:8083"

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - auth-service
      - library-service
      - notification-service
    ports:
      - "8080:8080"
