server:
  port: 8080

spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: http://auth-service:8081
              predicates:
                - Path=/api/auth/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: authCb
                    fallbackUri: forward:/fallback/auth

            - id: library
              uri: http://library-service:8082
              predicates:
                - Path=/api/books/**,/api/loans/**,/api/users/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: libraryCb
                    fallbackUri: forward:/fallback/library

            - id: notification
              uri: http://notification-service:8083
              predicates:
                - Path=/api/notifications/**
