server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:
        - id: auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - name: CircuitBreaker
              args:
                name: authCb
                fallbackUri: forward:/fallback/auth

        - id: library
          uri: http://localhost:8082
          predicates:
            - Path=/api/books/**,/api/loans/**,/api/users/**
          filters:
            - name: CircuitBreaker
              args:
                name: libraryCb
                fallbackUri: forward:/fallback/library

        - id: notification
          uri: http://localhost:8083
          predicates:
            - Path=/api/notifications/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
