server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://auth-db:5432/auth
    username: auth
    password: auth
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
